@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #222;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-image:url('https://source.unsplash.com/1600x900/?landscape');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 120%;

}

::root {
  font-family: 'Red Hat Display', sans-serif;
}

@media screen and (min-width: 373px) {
  body {
    background-position: center;
    background-position: cover;
    height: 100%
  }
}


/***Search Bar Styling***/

.searchBar {
padding: 2px 23px 2px 30px;
background-color: white;
color: white;
}

.searchStyle {
background: rgba( 85, 141, 218, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.searchBar:hover,.searchBar:focus  {
  background-color: rgba( 85, 141, 218, 0.2 )
}

.searchBar:outline {
  background-color: red;
}

.searchBubble:hover {
  background-color: rgba( 85, 141, 218, 0.2 )
}




/***********************/
.title-Card {
  background: rgba( 9, 9, 9, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.bg-Card {
background: rgba( 9, 9, 9, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.hBar::after {
  content: '';
  background-color: gray;
  width: 24px;
  transform: scaleX(10);
  height: 1px;
  position: relative;
  top: 10px;
  left: 86px;
}

.preloader {
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  background-color: #27272A;
  z-index: 99;
  height: 100vh;
}