@tailwind base;
@tailwind components;
@tailwind utilities;




/***Search Bar Styling***/

.searchBar {
padding: 2px 23px 2px 30px;
background-color: white;
}

.searchStyle {
background: rgba( 85, 141, 218, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.searchBar:hover,.searchBar:focus  {
  background-color: #F0E2E7
}

.searchBar:outline {
  background-color: red;
}




/***********************/

.bg-Card {
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
background: rgb(60,60,60);
background: linear-gradient(90deg, rgba(60,60,60,1) 0%, rgba(33,21,21,1) 100%);
}